python-dotenv==1.0.1
ipython
numpy
requests
uvicorn
fastapi
streamlit
streamlit[charts]
openai
azure-identity
azure-ai-inference~=1.0.0b8
azure-ai-evaluation
azure-ai-evaluation[redteam]
azure-ai-projects
azure-ai-agents
azure-ai-textanalytics
azure-ai-language-conversations
azure-ai-language-questionanswering
azure-search-documents>=11.5.2
azure-cosmos==4.9.0
mcp[cli]
autogen-agentchat
autogen-core~=0.4.5
autogen-ext==0.4.5
autogen-ext[azure]
autogen-ext[openai]
autogen-ext[grpc]
semantic-kernel>=1.31
semantic-kernel[azure]>=1.27.2
semantic-kernel[mcp]>=1.27.2